#tab-demo{ width:100%; height:100%;}
#tab-demo > ul{ display:block; margin:0;list-style:none;}
.tab-title{list-style:none;}
#tab-demo > ul > li{ 
  display:inline-block; 
  vertical-align:middle;
  font-family:'Arial';
    border:1px solid #BCBCBC;
     height:100%;
      background:#bcbcbe;
      font-size: 24px;
      padding:0 15px;
      list-style:none;
       box-sizing:border-box;
       font-weight: bold;
       color: rgb(0, 0, 0);

      
      }
#tab-demo >  ul > li a{ color:rgb(0, 0, 0); text-decoration:none;}
#tab-demo > ul > li.active{ border-bottom:1px solid #fff; background:#fff;}
#tab-demo > .tab-inner{ clear:both; color:rgb(0, 0, 0); border:1px #BCBCBC solid;}
.tab-inner{ padding:auto; height:auto;}



h1 {
    color: navy;
    margin-left: 24px;
  }

body {
  text-align:center;
  font-weight: bold;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

  }


.customers {
  font-size: large;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
margin: 0px auto;
}
.customers th {
  font-size: large;
    text-align: left;
    background-color: #0026ff;
    color: rgb(255, 255, 255);
    border: 0.5px solid #ddd;
    text-align: center;
    


  }

.customers tr:hover {
  border: 0.5px solid #ddd;
  background-color: #ddd;
}

.customers td{
    border: 0.5px solid #ddd;
    text-align: center;
    white-space: nowrap;
}


.customers2 {
  font-size: x-large;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 0px auto;
  }
  .customers2 th {
      text-align: left;
      background-color: #0004ff;
      color: rgb(255, 255, 255);
      border: 0.5px solid #ddd;
      text-align: center;
    }
  
  .customers2 tr:hover {
    border: 0.5px solid #ddd;
    background-color: #ddd;
  }
  
  .customers2 td{
      border: 0.5px solid #ddd;
      text-align: center;
      white-space: nowrap;
  }



input[type=text] {
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    text-align: center;
  font-weight: bold;

    font-size: large;}
  
input[type=text]:focus {
    border: 3px solid rgb(112, 110, 110);
  }

input[type=submit] {
    background-color: #001aff;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 2px 2px;
    cursor: pointer;
    font-weight:bold;
  }



/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.custom-select {
  border:0px;
  width:90%;
  height:30px;
  
  color:rgb(0, 0, 0);
  font-size: large;
  font-weight: bold;

  background-color: rgb(255, 255, 255);
  
}

/*IE隱藏箭頭樣式*/
.custom-select::-ms-expand { 
  display: none; 
}

.custom-select:focus{
  box-shadow: 0 0 5px 2px #467BF4;    
}



.custom-select1 {
  border:0px;
  width:auto;
  height:30px;
  color:rgb(0, 0, 0);
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  
}

/*IE隱藏箭頭樣式*/
.custom-select1::-ms-expand { 
  display: none; 
}

.custom-select1:focus{
  box-shadow: 0 0 5px 2px #467BF4;    
}

input[type=checkbox] {
  width: 40px; 
  height: 40px;
}


input[type=date] {

  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 2px;


}

.input_form input[type=date] {

  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border:none;
  border-radius: 0px;
  width: 100%;


}

.time_label{
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;

}

.button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
  margin: 4px 2px;
  outline:none;
  cursor: pointer;
}