h1 {
    color: navy;
    margin-left: 24px;
  }

p {
    font-size: 24px;
  }

p.thick {
font-weight: bold;
}

body {text-align:center;}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

  }

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 0px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
  
  input[type=text]:focus {
    border: 3px solid #555;
  }

  .button {
    background-color: #21af26;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  